	      #####THE FOLLOWING IS REQUIRED FOR PROTECTED FOLDERS
AuthUserFile /xampp/htdocs/oct-24-2017-mikrotik4///.PasswdFile.root
AuthName password_required
AuthType Basic
Require valid-user
########END REQUIRE